<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update user</h1>
    <form action="/update" method="post">
      <input type="text" hidden name="id" value="<%= dataUser.id%>" />
      <label for="fname">First name:</label><br />
      <input
        type="text"
        name="firstName"
        value="<%= dataUser.firstName%>"
      /><br />
      <label>Last name:</label><br />
      <input
        type="text"
        name="lastName"
        value="<%= dataUser.lastName%>"
      /><br />
      <label>Email:</label><br />
      <input type="text" name="email" value="<%= dataUser.email%>" /><br />
      <label>Address:</label><br />
      <input
        type="text"
        name="address"
        value="<%= dataUser.address%>"
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
